
  <div id="confirm-dialog"
       x-data="confirmDialogCtrl()"
       x-show="open"
       x-cloak
       class="dialog-overlay confirm-overlay"
       @click.self="cancel()">
    <div class="dialog-card confirm-card" :class="{ 'is-wide': threeButton }" @click.stop>
      <p class="dialog-title confirm-title">
        <span x-show="!titleHTML" x-text="title"></span>
        <span x-show="titleHTML"  x-html="titleHTML"></span>
      </p>
      <p class="confirm-message" x-text="message"></p>
      <div class="dialog-actions confirm-actions">
        <button class="btn-outline confirm-btn"  @click="cancel()">Cancel</button>
        <button class="btn-solid confirm-btn"
                :class="{ 'btn-solid--danger': danger }"
                x-text="confirmLabel"
                @click="confirm()"></button>
        <button class="btn-solid confirm-btn"
                type="button"
                x-show="threeButton"
                :class="{ 'btn-solid--danger': altDanger }"
                x-text="altLabel"
                @click="chooseAlt()"></button>
      </div>
    </div>
  </div>
