
  <div id="frontmatter-dialog"
       x-data="frontmatterDialogCtrl()"
       x-show="open"
       x-cloak
       class="dialog-overlay fm-edit-overlay"
       @click.self="cancel()">
    <div class="dialog-card fm-edit-card" @click.stop>
      <p class="dialog-title">Edit metadata</p>
      <textarea x-ref="textarea" class="fm-edit-textarea" x-model="text"
                spellcheck="false" autocomplete="off" autocapitalize="off"
                @keydown.meta.enter="save()" @keydown.ctrl.enter="save()"></textarea>
      <div class="dialog-actions">
        <button type="button" class="btn-outline confirm-btn" @click="cancel()">Cancel</button>
        <button type="button" class="btn-solid confirm-btn" @click="save()">Save</button>
      </div>
    </div>
  </div>
